canvas{
    float:left;
}

.eins{
    float: right;
    text-align: center;
    font-size: 20px;
    background-color:LightSkyBlue;
    border: 3px solid black;
    padding: 20px;
    margin:50px;
}

.zwei{
    float: right;
    text-align: center;
    font-size: 16px;
    background-color:LightSkyBlue;
    border: 3px solid black;
    padding: 5px;
    margin:50px;
}

#Zahl{
    border:none;
}

body{
    background-color: burlywood;
}